#battle_container
{
  text-align: center;
  width: 100%;
  height: 100%;
}
#battle_container h1
{
  font-size: 70px;
  text-shadow: #FFF 0px 0px 1px, #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 10px, #FF2D95 0px 0px 10px, #FF2D95 0px 0px 10px, #FF2D95 0px 0px 45px;
}
#battle_title
{
  margin-bottom: 0;
  margin-top: 20px;
}
#battle_games
{
  display: flex;
  justify-content: center;
  width: 100%;
}
.battle_gametitle
{
  font-size: 20px;
  color: #f0f0f0;
  text-shadow: 2px 2px 2px #FF2D95, 3px 3px 5px white, 4px 4px 10px #FF2D95;
}
#battle_game1
{
  width: 40%;
}
#battle_game2
{
  width: 40%;
}
.battle_images {
  object-fit: cover;
  width:320px;
  height:240px;
  border-radius: 5px;
}
#battle_ratings
{
  display: flex;
  justify-content: center;
  width: 20%;
}
#battle_ratings p
{
  font-size: 25px;
  margin: 10px 0px 10px;
  color: white;
  text-shadow: #FFF 0px 0px 2px, #FFF 0px 0px 10px, #FFF 0px 0px 25px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}
#battle_ratings_game1
{
  width: 40%;
}
#battle_ratings_game2
{
  width: 40%;
}
.battle_radiobutton
{
    -webkit-appearance: none;
  	background-color: white;
  	border: 1px solid #050505;
  	padding: 22px;
  	border-radius: 4px;
  	display: inline-block;
  	position: relative;
}
.battle_radiobutton:active, .battle_radiobutton:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  outline: none;
  border: 1px solid #050505;
}

.battle_radiobutton:checked {
  background: linear-gradient(0deg, #050505, green, #050505, green);
  background-size: 1800% 1800%;

  -webkit-animation: gradient_background 15s ease infinite;
  -moz-animation: gradient_background 15s ease infinite;
  animation: gradient_background 15s ease infinite;

	border: 1px solid green;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
  outline: none;
}

#battle_skipbutton
{
  background-color: #070711;
  border: none;
  border-radius: 20px;
  box-shadow:  #FFF 0px 0px 2px, #FFF 0px 0px 2px, #FFF 0px 0px 15px, #FF2D95 0px 0px 5px, #FF2D95 0px 0px 5px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 30px;
  color: white;
  text-shadow:#FFF 0px 0px 2px, #FFF 0px 0px 2px, #FFF 0px 0px 15px, #FF2D95 0px 0px 5px, #FF2D95 0px 0px 5px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 30px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 20%;
  justify-content: center;
}
#battle_submitbutton
{
    background-color: #070711;
    border: none;
    border-radius: 20px;
    box-shadow:  #FFF 0px 0px 2px, #FFF 0px 0px 2px, #FFF 0px 0px 15px, #FF2D95 0px 0px 5px, #FF2D95 0px 0px 5px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 30px;
    color: white;
    text-shadow:#FFF 0px 0px 2px, #FFF 0px 0px 2px, #FFF 0px 0px 15px, #FF2D95 0px 0px 5px, #FF2D95 0px 0px 5px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 20%;
    justify-content: center;
}
#battle_nextgamesbutton
{
    background-color: #070711;
    border: none;
    border-radius: 20px;
    box-shadow:  #FFF 0px 0px 2px, #FFF 0px 0px 2px, #FFF 0px 0px 15px, #FF2D95 0px 0px 5px, #FF2D95 0px 0px 5px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 30px;
    color: white;
    text-shadow:#FFF 0px 0px 2px, #FFF 0px 0px 2px, #FFF 0px 0px 15px, #FF2D95 0px 0px 5px, #FF2D95 0px 0px 5px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 20%;
    justify-content: center;
}
#battle_buttons
{

  width: 100%;
  justify-content: center;
}
.battle_button{
  outline: none;
}
.battle_button:active {
  transform: translateY(2px);
}
