body
{

    color:#FFF;
    font-family: 'Play', sans-serif;
    height: 100%;
    background: #050505;
    position: relative;
    background-attachment:fixed;
    background-position: left top;
}
.header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: linear-gradient(90deg, #050505, #050505, #570252, #050505, #050505);
    background-size: 1800% 1800%;

    -webkit-animation: gradient_background 5s ease infinite;
    -moz-animation: gradient_background 5s ease infinite;
    animation: gradient_background 5s ease infinite;
    width: 100%;
}
.header h1
{
    color: black;
    text-align: center;
}
#logo_info
{
    display: block;
    width: 100%;

}

#logo_gamevs
{
  margin-top: 20px;
  margin-bottom: 0;
  text-shadow: #FFF 0px 0px 2px, #FFF 0px 0px 10px, #FFF 0px 0px 25px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

#header_logoutbutton
{
  color: white;
  float: right;
  font-size: 25px;
  margin-right: 10px;

}
#header_logoutbutton :hover
{
  color: red;
  transition: 0.2s;
}
#menu
{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    text-align: center;
    overflow: hidden;
    border-top: 1px white solid;
    border-bottom: 1px white solid;

}
#menu ul {

    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#menu li {
    display: flex;
    justify-content: center;
    width: 100%;
}

#menu li a {
    transition: 0.2s;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    width: 100%;
    transition: 0,2s;
}

#menu li a:hover {
    transition: 0.5s;
    background-color: #070711;
    width: 100%;
    border-left: 1px white solid;
    border-right: 1px white solid;
    color: white;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.selected {
    background: linear-gradient(90deg, #050505, #050505, #e400d7, #050505, #050505);
    background-size: 1800% 1800%;

    -webkit-animation: gradient_background 5s ease infinite;
    -moz-animation: gradient_background 5s ease infinite;
    animation: gradient_background 5s ease infinite;
    width: 100%;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}


.container
{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    width: 100%;

}

.footer
{
    font-size: 15px;
    margin-top: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    bottom: 0;
    width: 100%;
    color: #050505;
    text-align: center;
}


.gametable
{
    margin-top: 200px;
}


@-webkit-keyframes gradient_background {
    0%{background-position:81% 0%}
    50%{background-position:20% 100%}
    100%{background-position:81% 0%}
}
@-moz-keyframes gradient_background {
    0%{background-position:81% 0%}
    50%{background-position:20% 100%}
    100%{background-position:81% 0%}
}
@keyframes gradient_background {
    0%{background-position:81% 0%}
    50%{background-position:20% 100%}
    100%{background-position:81% 0%}
}
